[submodule "vendors/submodules/awesome-cosmo"]
	path = vendors/submodules/awesome-cosmo
	url = https://github.com/ludoplex/awesome-cosmo.git
[submodule "vendors/submodules/bsd"]
	path = vendors/submodules/bsd
	url = https://github.com/ludoplex/bsd.git
[submodule "vendors/submodules/cosmo-bsd"]
	path = vendors/submodules/cosmo-bsd
	url = https://github.com/ludoplex/cosmo-bsd.git
[submodule "vendors/submodules/cosmo-cross-sdk"]
	path = vendors/submodules/cosmo-cross-sdk
	url = https://github.com/ludoplex/cosmo-cross-sdk.git
[submodule "vendors/submodules/cosmo-disasm"]
	path = vendors/submodules/cosmo-disasm
	url = https://github.com/ludoplex/cosmo-disasm.git
[submodule "vendors/submodules/cosmo-gcc-plugin"]
	path = vendors/submodules/cosmo-gcc-plugin
	url = https://github.com/ludoplex/cosmo-gcc-plugin.git
[submodule "vendors/submodules/cosmo-include"]
	path = vendors/submodules/cosmo-include
	url = https://github.com/ludoplex/cosmo-include.git
[submodule "vendors/submodules/cosmo-sokol"]
	path = vendors/submodules/cosmo-sokol
	url = https://github.com/ludoplex/cosmo-sokol.git
[submodule "vendors/submodules/cosmogfx"]
	path = vendors/submodules/cosmogfx
	url = https://github.com/ludoplex/cosmogfx.git
[submodule "vendors/submodules/e9studio"]
	path = vendors/submodules/e9studio
	url = https://github.com/ludoplex/e9studio.git
[submodule "vendors/submodules/ludoplex-binaryen"]
	path = vendors/submodules/ludoplex-binaryen
	url = https://github.com/ludoplex/binaryen.git
[submodule "vendors/submodules/ludoplex-cosmo-bsd"]
	path = vendors/submodules/ludoplex-cosmo-bsd
	url = https://github.com/ludoplex/cosmo-bsd.git
[submodule "vendors/submodules/cosmo-teditor"]
	path = vendors/submodules/cosmo-teditor
	url = https://github.com/ludoplex/cosmo-teditor.git
[submodule "vendors/submodules/StateSmith"]
	path = vendors/submodules/StateSmith
	url = https://github.com/StateSmith/StateSmith
[submodule "vendors/submodules/eez-studio"]
	path = vendors/submodules/eez-studio
	url = https://github.com/eez-open/studio
[submodule "vendors/submodules/lvgl"]
	path = vendors/submodules/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "vendors/submodules/protobuf-c"]
	path = vendors/submodules/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
[submodule "vendors/submodules/OpenModelica"]
	path = vendors/submodules/OpenModelica
	url = https://github.com/OpenModelica/OpenModelica
